
message(from, to)
  background: linear-gradient(top, from, to)
  text-shadow: 0 -1px 0 rgba(black, .25)
  border-color: to to darken(from, 15%)

.btn
.alert-message
  text-shadow: 0 -1px 0 rgba(black,.25)
  &.danger
  &.danger:hover
  &.error
  &.error:hover
  &.success
  &.success:hover
  &.info
  &.info:hover
    color: $white

  &.danger
  &.error
    message: #ee5f5b #c43c35

  &.success
    message: #62c462 #57a957

  &.info
    message: #5bc0de #339bb9